*{
    margin: 0;
    padding: 0;
}

#titulo{
    font-family: sans-serif;
    color: #6B705C;
    margin-left: 0%;
    text-align: center;

}

#subtitulo{
    font-family: sans-serif;
    color: #dda15e;
    margin-left: 0%;
    text-align: center;
    padding: 1em;
}

#experiencia{
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

fieldset {
    border: 0;
}


body{
    background-color: #FFFFFF;
    font-family: sans-serif;
    font-size: 1em;
    color: #6B705C;
    text-align: center;
}

header img{
        width: 100px;
        padding: 20px 20px 20px 20px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color:#6B705C;
}

h1{
    padding: 10px;

}

p{
    text-align: justify;
}

.title-decoration{
width: 70px;
height: 6px;
background-color: #6B705C;
margin: 15px 0 1em 0;
}

header{
    display:flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 8px 8px 15px 8px #bc6c25;
    background: #283618;
}

header ul{
    display: flex;
}

header ul li a {
    text-decoration: none;
    color: #ffffff;
}

header ul li a:hover {
    color: #bc6c25 ;
    text-decoration: #dda15e;
}

header ul li{
    padding: 5px;
    transition: 300ms;
}

input, select, textarea, button{
    border-radius: 5px;
    border-color: #283618!important;
    width: 100%;
    height: 30px;
    text-align: center;
    color: white!important;
    background-color: #bc6c25;
}


.campo{
    margin-bottom: 1em;
}

.flex-capa {
    display:flex;
    justify-content: center;
    padding: 50px 50px 50px 50px;
    background: #FFFFFF;
}

.flex-nome {
 display: flex;
 justify-content: center;

}

.flex-nome div{
    margin: 1em;
}

.flex-campo2 {
    display: flex;
    justify-content: center;
   }
   .flex-campo2 div{
    margin: 1em;
}

   .flex-campo3 {
    display: flex;
    justify-content: center;
   }

   .flex-campo3 div{
    margin: 1em;
}

   .flex-campocep {
    display: flex;
    justify-content: center;
   }
   .flex-campocep div{
    margin: 1em;
}

   .flex-campo4 {
    display: flex;
    justify-content: center;
   }
   .flex-campo4 div{
    margin: 1em;
}
   .flex-campodocs {
    display: flex;
    justify-content: center;
   }
   .flex-campodocs div{
    margin: 1em;
}

.campo.label{
    margin-bottom: 0.2em;
    color:#6B705C;
    display: block;

}

fieldset.grupo .campo{
    float: left;
    margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid;
    box-shadow: 2px 2 px 2 px rgba(0,0,0,0.2);
    display: block;
}

.campo input:focus, .campo textarea:focus {
    background:#bfc7a6;
}

.botao {
    font-size: 1.2em;
    background:#bc6c25;
    border: 0;
    margin-bottom: 1em;
    margin-top: 20 px;
    color: #FFFFFF;
    padding: 5px 10px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position: left;
    left: 30%;
    margin-left: 10%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.botao:hover{
    background: #dda15e;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}
